* { 
    font-family: 'Spoqa Han Sans Neo','sans-serif'; 
}

html, body {
    margin: 0;
}

body {
    background-color: #fafafa;
}

.section {
    width: 100%;
}

.section.intro {
    height: 700px;
}

.intro-section {
    width: 520px;
    margin: 150px auto;
    /* position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%); */
}

.intro-headlines-wrapper {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 265px;
}

.intro-headlines {
    width: 240px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.intro-headlines-text {
    color: rgb(29, 29, 31);
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.greeting-text {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    text-align: center;
}

.contact-list li {
    margin-bottom: 0.5rem;
}

.contact-list li a{
    text-decoration: none;
    color: rgb(134, 134, 149);
}

.contact-list li a:hover {
    color: rgb(29, 29, 31);
}

.section-title {
    margin: 0 auto 47px;
    width: 90%;
    font-size: 6rem;
    color: rgb(29, 29, 31);
    font-weight: 900;
}

.experience-text-section {
    width: 90%;
    margin: 0 auto;
}

.experience-text {
    color: rgb(134, 134, 149);
    font-size: 21px;
    font-weight: 600px;

    margin: 0;
    width: 45%;
}

.experience-text strong {
    color:rgb(29, 29, 31);
}

.experience-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.front-text {
    position: relative;
    top: 300px;
}

.experience-leveldb {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-leveldb iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.leveldb-text {
    position: relative;
    top: 225px;
}

.ai-text {
    position: relative;
    top: 350px;
}

.back-text {
    position: relative;
    top: 150px;
}

.section.trying {
    padding: 100px 0;
}

.trying-wrapper {
    text-align: center;
}